<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
<body>
<nav th:fragment="menu">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a href="#" class="logo">OCAFE</a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        Students
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/students/signup">
                            Add Student
                        </a>
                        <a class="navbar-item" href="/students/list">
                            List, delete and edit students
                        </a>
                    </div>

                </div>

                <div sec:authorize="hasAuthority('ADMIN')" class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/admin/home">
                        Admin Menu
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/adminFunctions/userRegistration">
                            Add User
                        </a>
                        <a class="navbar-item" href="/adminFunctions/adminRegistration">
                            Add Admin User
                        </a>
                        <a class="navbar-item" href="/adminFunctions/list">
                            List Users
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-warning" href="/logout">
                                <span>Logout</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</nav>
</body>
</html>