<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <title>Add Wish</title>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="container-row">
            <h2 class="title is-4"><strong>Make a wish</strong></h2>
            <br>
            <div class="columns is-mobile">
                <div class="col-md-6 col-md-offset-3">

                    <form action="#" th:action="@{/wishlists/addWish/{id}(id=${currentWishlist.id})}"
                          th:object="${wish}" method="post" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <div class="column">
                                <strong>
                                    <label for="nameOfItem" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"
                                           class="validation-message"></label>
                                </strong>
                                <input type="text" th:field="*{itemName}"
                                       placeholder="Name" class="input is-primary is-normal" id="nameOfItem"
                                style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); border-color: black;"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <strong>
                                <label for="link" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"
                                       class="validation-message"></label>
                                </strong>
                                    <input style="color:black" type="text" th:field="*{link}" placeholder="Link"
                                           class="input is-normal" id="link"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <strong>
                                <label for="priceOfItem" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                       class="validation-message"></label>
                                </strong>
                                <input type="text" th:field="*{price}"
                                       placeholder="Price in DKK" class="input is-primary is-normal" id="priceOfItem"
                                       style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); border-color: black;"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <button type="submit" class="button is-success">Add wish</button>
                                <a th:href="@{/wishlists/itemList/{id}(id=${currentWishlist.id})}" class="button is-primary">Go back</a>
                            </div>
                        </div>
                        <h2 class="title is-4"><span class="text-success" th:utext="${successMessage}"></span></h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:insert="fragments/footer :: footer">
</footer>
</body>
</html>