<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head">
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_4.1.3.css}"
          th:integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          th:crossorigin="anonymous"/>
</head>

<body>
<div class="container">
    <div class="content">
        <div class="container-row">
            <h2 class="title is-4">
                <strong>
                    <span th:text="${currentWishlist.wishlistName}"></span>
                </strong>
            </h2>
            <br>

            <a href="/wishlists/lists" class="button is-primary">Go back</a>
            <div class="columns is-mobile">
                <div class="column">
                    <div th:switch="${wishes}" class="container my-5">
                        <br>
                        <div class="column">
                            <h2 th:case="null">No Wishes registered!</h2>
                            <div th:case="*">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>Price(DKK)</th>
                                            <th>Reserved?</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="wish : ${wishes}">
                                            <td th:text="${wish.itemName}"></td>
                                            <td th:text="${wish.link}"></td>
                                            <td th:text="${wish.price}"></td>
                                            <td th:text="${wish.reserved}"></td>
                                            <td><a th:href="@{/wishlists/deleteWish/{id}(id=${wish.id})}"
                                                   onclick="confirm_delete_wish()" class="button is-danger is-small">Delete</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<footer class="footer" th:insert="fragments/footer :: footer">
</footer>
</body>
<script type="text/javascript">
    function confirm_delete_wish() {
        return confirm("Delete wish?")
    }
</script>
</html>