<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head">
    <title>Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_4.1.3.css}"
          th:integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          th:crossorigin="anonymous"/>
</head>

<body>
<div class="container">
    <div class="content">
        <div class="container-row">
            <h2 class="is-size-5">
                <strong>
                    <span th:utext="${listUserName}"></span>
                </strong>
            </h2>
            <br>
            <a th:href="@{/wishlists/createWishlist}" class="button is-primary">Create Wishlist</a>
            <br>
            <br>

            <h2 class="title is-4"><strong>Your wishlists:</strong></h2>
            <div class="columns is-mobile">
                <div class="column">
                    <div th:switch="${wishlist}" class="container my-5">
                        <br>
                        <div class="column">
                            <h2 th:case="null">No Wishlists registered!</h2>
                            <div th:case="*">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Wishlist name</th>
                                            <th>View</th>
                                            <th>Add</th>
                                            <th>Delete</th>
                                            <th>Share link</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="wishlists : ${wishlist}">
                                            <td th:text="${wishlists.wishlistName}"></td>
                                            <td><a th:href="@{/wishlists/itemList/{id}(id=${wishlists.id})}"
                                                   class="button is-primary is-small">Your wishes</a></td>
                                            <td><a th:href="@{/wishlists/createWish/{id}(id=${wishlists.id})}"
                                                   class="button is-primary is-small">Add Wish</a></td>
                                            <td><a th:href="@{/wishlists/delete/{id}(id=${wishlists.id})}"
                                                   onclick="confirm_delete_wishlist()" class="button is-danger is-small">Delete</a></td>
                                            <td th:text="'localhost:8080/wishlist/share/'${id}(id=${wishlists.id})"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<footer class="footer" th:insert="fragments/footer :: footer">
</footer>
</body>
<script type="text/javascript">
    function confirm_delete_wishlist() {
        return confirm("Delete wishlist?")
    }
</script>
</html>